@import "./node_modules/leaflet/dist/leaflet.css";

/* HubMap overrides */

.hub-map {
  width: 400px;
  height: 400px;
}

.leaflet-popup-content h2 {
    margin: 8px 0;
}

.leaflet-popup-content p {
    margin: 4px 0;
}
