@import "./node_modules/leaflet/dist/leaflet.css";
@import "./node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "./node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";

/* HubMap overrides */

.hub-map {
  height: 400px;
}

.leaflet-popup-content h2 {
    margin: 8px 0;
}

.leaflet-popup-content p {
    margin: 4px 0;
}
