html, body {
    height: 100%;
}

body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

code {
    color: #444;
    background-color: lightYellow;
    white-space: pre-wrap;
}

code.block {
    display: block;
    color: #444;
    background-color: lightYellow;
    border: 1px solid #CCC;
    padding: 0.5em;
    overflow-x: auto;
}

nav {
    border-bottom: 1px solid #CCC;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
    text-align: right;
}

nav ul li {
    display: inline;
    padding: 0 0.25em;
}

nav ul li a {
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0
}

td,th {
    padding:0
}

table {
    width:100%;
    overflow:auto;
    display:block
}

table th {
    font-weight:bold
}

table thead tr {
    background-color: #ddd;
}

table th, table td {
    border:1px solid #ddd;
    padding:6px 13px
}

table tr {
    border-top:1px solid #ccc;
    background-color:#fff
}

table tr:nth-child(2n) {
    background-color:#f8f8f8
}

.container {
    max-width: 850px;
    min-height: 100%;
    padding: 1em 2em;
    background-color: white;
}

/* -- HubMap Example Page Styles -- */

.hub-map, .map {
  max-width: 800px;
  height: 400px;
  margin: 0.5em;
}
