html, body {
    height: 100%;
}

body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

code {
    color: #444;
    background-color: lightYellow;
}

code.block {
    display: block;
    color: #444;
    background-color: lightYellow;
    border: 1px solid #CCC;
    padding: 0.5em;
    white-space: pre-wrap;
}

nav {
    border-bottom: 1px solid #CCC;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
    text-align: right;
}

nav ul li {
    display: inline;
    padding: 0 0.25em;
}

nav ul li a {
    text-decoration: none;
}

.container {
    width: 850px;
    min-height: 100%;
    padding: 1em 2em;
    background-color: white;
}

/* -- HubMap Example Page Styles -- */

.hub-map {
  width: 800px;
  height: 400px;
  margin: 20px;
}
